<div class="message <%= message.user == current_user ? "current-user-message" : "" %>" id="message-<%= message.id %>">
  <p class="author">
    <span><%= message.user.username %></span>
    <small><%= message.created_at.strftime("%B %-d, %Y %-l:%M%p") %></small>
  </p>
  <p><%= message.content %></p>
</div>
