
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12 col-md-4 col-sm-12 col-xs-12">
            <div class="card p-4">
                <div class="d-flex mt-2">
                    <h4 class="flex-grow-1">Current Time: </h4>
                    <h4>16:08</h4>
                </div>
                <div class="d-flex flex-column temp">
                    <%=@weather_results[:condtion] %> 
                    <h1 class="mb-0 font-weight-bold" id="heading"> <%= @weather_results[:temp_c].to_i %> °</h1> 
                </div>
                <div class="d-flex">
                    <div class="temp-details flex-grow-1">
                        <p class="my-1"> <img src="https://i.imgur.com/B9kqOzp.png" height="17px"> <%= @weather_results[:wind_dir] %> at <%= @weather_results[:wind_kph]  %> kph </p>
                        <p class="my-1"> <i class="fa fa-tint mr-2" aria-hidden="true"></i> <%= @weather_results[:humidity] %>%  </p>
                        <p class="my-1"> <img src="https://i.imgur.com/wGSJ8C5.png" height="17px"> <%= @weather_results[:feelslike_c] %>° </p>
                    </div>
                    <div> <img src="https://<%=@weather_condition_icon%>" class="weather-icon"> </div>
                </div>
            </div>
        </div>
    </div>
</div>
