<div class="event-form-container">
  <%= simple_form_for [@city, @event] do |f| %>
  <div class="field">
    <%= f.input :summary %>
  </div>

  <div class="field">
    <%= f.input :description %>
  </div>

  <div class="field">
    <%= f.label :start_date %>
    <%= f.datetime_select :start_date %>
  </div>

  <div class="field">
    <%= f.label :end_date %>
    <%= f.datetime_select :end_date %>
  </div>

  <div class="field">
    <%= f.input :location %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>
</div>