<div class="event-form-container">
  <%= simple_form_for [@city, @event] do |f| %>
  <div class="field">
    <%= f.input :summary %>
  </div>

  <div class="field">
    <%= f.input :description %>
  </div>

  <div class="field">
    <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker"}, placeholder: 'Select Date...' %>
  </div>

  <div class="field">
    <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker"}, placeholder: 'Select Date...'  %>
  </div>

  <div class="field">
    <%= f.input :location %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>
</div>