<h1 class="forum-header text-center"> <%= "#{@current_forum.name}" %></h4>
<div class="discussions-container">
  <section class="aside">
    <header>Groups</header>
    <% @forums.each do |forum| %>
      <%= forum_link(forum) %>
    <% end %>
  </section>
  <section class="posts-container">
    <button class="btn btn-primary btn-small" id="new-post-btn"><i class="fas fa-plus"></i> Create Post</button>
    <%= simple_form_for [@current_forum, @post],  html: { class: "create-post-form"}, remote: true do |f| %>
      <%= f.input :title, placeholder: "Title" %>
      <%= f.input :content, label: false, placeholder: "Content" %>
      <%= f.submit "Create Post" %>
    <% end %>

    <% if @current_forum.posts.any? %>
      <% @current_forum.posts.order(created_at: :DESC).each do |post| %>
        <%= render 'post', post: post %>
      <% end %>
    <% end %>
  </section>

  <section class="chatroom">
    <header>Chatroom</header>
    <div class="messages-container" id="messages" data-chatroom-id="<%= @chatroom.id %>">
      <% @chatroom.messages.last(10).each do |message| %>
        <%= render 'messages/message', message: message %>
      <% end %>
    </div>
    <%= simple_form_for [ @chatroom, @message ], html: { class: "chatroom-msg-form"}, remote: true do |f| %>
      <%= f.input :content, label: false, placeholder: "Message #{@chatroom.name}" %>
    <% end %>
  </section>
</div>
