<h2><%= @city.name %></h2>
<p><%= link_to "Forums", city_forums_path(@city) %></p>
<p><%= link_to "Headlines", city_headlines_path(@city) %></p>
<p><%= link_to "Events", city_events_path(@city) %></p>
<p><%= link_to "FAQ", city_faq_index_path(@city) %></p>
