  
  <div class="img-container">
    
    <% city_photo = get_photo_key_city(@city)  %>
    <%= image_tag city_photo, class: "img-show-city"%>
    <h1 class="text-center main-title"><%= @city.name %></h1>
    <%= render partial: "shared/weather", locals: {weather_results: @weather_results, city_name: @city_name} %>
    
  </div>

  



  <div class="container mb-5">
    
    

    <section class="features">
      <%= link_to city_forum_posts_path(@city, @city.forums.first) do %>
        <div class="card-feature" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://shipway-consulting.co.uk/wp-content/uploads/2020/05/conversation-image-2.jpg)">
          Discussion
        </div>
      <% end %>
      
      <%= link_to city_headlines_path(@city) do %>
        <div class="card-feature" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://st.depositphotos.com/1004059/2708/v/600/depositphotos_27081269-stock-illustration-newspaper-icon-vector.jpg)">
          Headlines
        </div>
      <% end %>
      <%= link_to city_events_path(@city) do %>
        <div class="card-feature" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://img.freepik.com/free-vector/hand-with-pen-marks-date-calendar-deadline-important-events-vector-concept_53562-6503.jpg?size=626&ext=jpg)">
          Events
        </div>
      <% end %>

      <%= link_to city_faq_index_path(@city) do %>
        <div class="card-feature" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://solutionsreview.com/network-monitoring/files/2019/09/oie_nFTE0cYcdXia.png)">
          FAQ
        </div>
      <% end %>
    </section>
  </div>

