<!DOCTYPE html>
<html>
  <head>
    <title>NomadConnect</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="google-signin-client_id" content="308418999627-hpcivborvt2tpfdoseqe2k1cu566iflr.apps.googleusercontent.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/2008d14e0c.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <%= yield %>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
  </body>
</html>
